header {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0 0.5em;
  background: #eee;

}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  img {
    width: 2em;
  }
  span {
    padding-left: 0.3em;
    font-weight: bold;
    font-size: 1.5em;
  }
}


