:host {
  display: flex;
  flex-flow: column;
  align-items: center;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


$side: 8em;

button {
  width: $side;
  height: $side;
  margin: 0.5em;
}
