<h1>Ajouter une question</h1>
<form [formGroup]="f" (ngSubmit)="submit()">
  <label>
    <div>Libellé</div>
    <textarea rows="3"></textarea>
  </label>
  <div class="answers">
    <div class="left">
      <div class="input" *ngFor="let i of ['A', 'B', 'C', 'D']">
        <input type="text">
      </div>
    </div>
    <div class="right">
      <div class="input" *ngFor="let i of ['A', 'B', 'C', 'D']">
        <input type="radio">
        <span>{{i}}</span>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button>Annuler</button>
    <button class="primary">Ajouter</button>
  </div>
</form>
